/*stylelint-disable*/

//Base colors
$color-first: #000000;
$color-second: #001820;
$color-third: #ffffff;


//Fonts
$Raleway-extra-light: 'Raleway', sans-serif;
$Raleway-semi-bold: 'Raleway:600', sans-serif;
$Open-sans-regular: 'Open Sans', sans-serif;

//Transitions
$transition: all 0.2s;

