/*stylelint-disable*/

html {
  @include respond-to(mobile) {
    font-size: 18px;
  }
  @include respond-to(tablet) {
    font-size: 16px;
  }
  @include respond-to(desktop) {
    font-size: 20px;
  }

}

.container {
  width: 1440px;
  height: 900px;
  background:   linear-gradient(
      rgba(0, 24, 32, 0.2),
      rgba(0, 24, 32, 0.2)
  ),url("../../../images/jpg-files/bg_image.jpg");
  background-repeat: no-repeat;
  background-size: 180% 190%;
  background-position: 68% 34%;
  @include flex-box(column, flex-start, center);
  position: relative;
  overflow: hidden;
}
