/*stylelint-disable*/

.main-header {
  width: 100%;
  padding-left: 5.5%;
  padding-right: 5.55%;
  margin-top: 1.7%;
  @include flex-box(row, space-between, center);
}

.header {
  margin-top: 2.4%;
  width: 16.5%;
  object-fit: cover;
}

.main-nav{
  width: 43.1%;
}

.nav-list {
  text-transform: uppercase;
  font-family: $Open-sans-regular;
  @include flex-box(row, flex-start, center);
}

.nav-list-icons {
  display: none;
}

.nav-element {
  margin-right: 9%;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: $color-third;
    top: 99%;
    left:0;
    transition: $transition;
  }
  &:hover {
    &:after {
      width: 102%;
    }
  }
}

.nav-link {
  font-size: 1.25vw;
  color: $color-third;
  font-weight: 600;
  text-decoration: none;
}

.contact-button {
  font-family: $Open-sans-regular;
  width: 172%;
  height: 3.6vw;
  font-size: 1.25vw;
  font-weight: 600;
  padding-left: 0;
  margin-left: 5.7%;
  margin-top: 5%;
  color: $color-third;
  text-transform: uppercase;
  border: 3px solid $color-third;
  background-color: transparent;
  border-radius: 5px;
  transition: $transition;
  &:hover {
    background-color: $color-third;
    color: $color-first;
  }
  &:focus {
    outline: none;
  }
}

.burger-button {
  display: none;
}
