/*stylelint-disable*/

.main-header {
  width: 100%;
  padding-left: 5.5%;
  padding-right: 5.79%;
  margin-top: 2.5vh;
  @include flex-box(row, space-between, center);
}

.header {
  margin-top: 3.45vh;
  width: 14.7vw;
  object-fit: cover;
}

.nav-list {
  margin-top: 0.3vh;
  text-transform: uppercase;
  font-family: $Open-sans-regular;
}

.nav-list-icons {
  display: none;
}

.nav-element {
  margin-right: 3.38vw;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0.4vh;
    background-color: $color-third;
    top: 99%;
    left:0;
    transition: $transition;
  }
  &:hover {
    &:after {
      width: 102%;
    }
  }
}

.nav-link {
  font-size: 1.12vw;
  color: $color-third;
  font-weight: 600;
  text-decoration: none;
}

.contact-button {
  font-family: $Open-sans-regular;
  width: 10.3vw;
  height: 5vh;
  min-height: 45px;
  font-size: 1.11vw;
  font-weight: 600;
  padding-top: 2%;
  padding-left: 1%;
  margin-left: 3.7%;
  margin-top: 0.3vh;
  color: $color-third;
  text-transform: uppercase;
  border: 0.3vw solid $color-third;
  background-color: transparent;
  border-radius: 5px;
  transition: $transition;
  &:hover {
    background-color: $color-third;
    color: $color-second;
  }
  &:focus {
    outline: none;
  }
}

.burger-button {
  display: none;
}
