/*stylelint-disable*/

.main-header {
  width: 100%;
  padding-left: 78px;
  padding-right: 80px;
  margin-top: 26px;
  @include flex-box(row, space-between, center);
}

.header {
  margin-top: 28px;
  width: 214px;
  height: 58px;
  object-fit: cover;
  z-index: 1;
}

.main-nav {
  z-index: 1;
}

.nav-list {
  z-index: 1;
  height: 44px;
  text-transform: uppercase;
  @include flex-box(row, center, center);
  font-family: $Open-sans-regular;
}

.nav-element {
  height: 44px;
  margin-right: 47.8px;
  padding-right: 8px;
  line-height: 48px;
  vertical-align: middle;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: $color-third;
    top:100%;
    left:0;
    transition: $transition;
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.nav-link {
  font-size: 16px;
  color: $color-third;
  font-weight: 600;
  text-decoration: none;
}

.contact-button {
  font-family: $Open-sans-regular;
  width: 146px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 0;
  margin-left: 5px;
  margin-top: 2px;
  color: $color-third;
  text-transform: uppercase;
  border: 3px solid $color-third;
  background-color: transparent;
  border-radius: 5px;
  transition: $transition;
  &:hover {
    background-color: $color-third;
    color: $color-second;
  }
}

.burger-button {
  display: none;
}
