/*stylelint-disable*/

.main-content {
  margin-top: 16.3vh;
  width: 40.4%;
  @include flex-box(column, center, center);
}

.content-main-text {
  width: 95.5%;
  line-height: 125%;
  font-size: 2.8vw;
  font-weight: 500;
  color: $color-first;
  text-align: center;
  font-family: $Raleway-extra-light;
  span {
    color: $color-third;
    font-weight: 600;
  }
}

.line-break {
  display: none;
}

.circle-square-image {
  width: 8vw;
  height: 8vw;
  margin-top: 16.75vh;
  object-fit: cover;
}

.content-main-sub-text {
  margin-top: 17.8vh;
  color: $color-third;
  font-size: 1.41vw;
  text-align: center;
  font-family: $Open-sans-regular;
}

.contact-list {
  width: 90%;
  max-width: 41vw;
  margin-top: 2.65vh;
  @include flex-box(row, space-between, center);
}

.contact-element {
  @include flex-box(row, center, center);
  span {
    color: $color-third;
    text-transform: uppercase;
    font-family: $Open-sans-regular;
  }
}

.contact-element-icon {
  width: 1.88vw;
  margin-top: 0.1vw;
  margin-right: 0.40vw;
}

.contact-element-link {
  text-decoration: none;
  @include flex-box(row, center, center);
}

.contact-element-text {
  margin-left: 0.9vw;
  font-size: 1.26vw;
}
.contact-element-icon-google {
  width: 2.5vw;
  margin-top: 0.47vh;
  margin-right: 0.20vw;
}

.rotate {
  animation: rotate 0.5s linear 1 forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


