/*stylelint-disable*/

.main-content {
  margin-top: 12.95vh;
  width: 40.4%;
  @include flex-box(column, center, center);
}

.content-main-text {
  width: 95.5%;
  line-height: 4.9vh;
  font-size: 2.48vw;
  font-weight: 500;
  color: $color-first;
  text-align: center;
  font-family: $Raleway-extra-light;
  span {
    color: $color-third;
    font-weight: 600;
  }
}

.line-break {
  display: none;
}

.circle-square-image {
  width: 7vw;
  height: 7vw;
  margin-top: 13.15vh;
  object-fit: cover;
}

.content-main-sub-text {
  margin-top: 14vh;
  color: $color-third;
  font-size: 1.24vw;
  text-align: center;
  font-family: $Open-sans-regular;
  letter-spacing: 0.0039vw;
}

.contact-list {
  width: 89.6%;
  max-width: 41vw;
  margin-top: 2.4vh;
  @include flex-box(row, space-between, center);
}

.contact-element {
  @include flex-box(row, center, center);
  span {
    color: $color-third;
    text-transform: uppercase;
    font-family: $Open-sans-regular;
  }
}

.contact-element-icon {
  width: 1.70vw;
  height: 1.70vw;
  margin-right: 0.40vw;
}

.contact-element-link {
  text-decoration: none;
  @include flex-box(row, center, center);
}

.contact-element-text {
  margin-left: 0.6vw;
  font-size: 1.12vw;
}
.contact-element-icon-google {
  width: 2.2vw;
  height: 2.2vw;
  margin-right: 0.24vw;
}

.rotate {
  animation: rotate 0.5s linear 1 forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


