/*stylelint-disable*/

.bottom-nav-link {
  z-index: 1;
  width: 6.9vw;
  background-color: $color-third;
  position: absolute;
  border-radius: 6%;
  bottom: -3.7vw;
  border: none;
  transform: rotate(45deg);
  font-family: $Open-sans-regular;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.bottom-nav-link-text {
  position: absolute;
  color: $color-second;
  font-size: 1vw;
  text-transform: uppercase;
  top: 17%;
  right: 53%;
  transform: rotate(-45deg);
}

.bottom-nav-link-text-2 {
  display: none;
  position: absolute;
  color: $color-second;
  font-size: 14px;
  text-transform: uppercase;
  top: 30%;
  right: 49%;
  transform: rotate(-45deg);
}
