/*stylelint-disable*/

.bottom-nav-link {
  z-index: 1;
  width: 94px;
  height: 94px;
  background-color: $color-third;
  position: absolute;
  border-radius: 5px;
  top: 95.2%;
  border: none;
  transform: rotate(45deg);
  font-family: $Open-sans-regular;
}

.bottom-nav-link-text {
  position: absolute;
  color: $color-second;
  font-size: 14px;
  text-transform: uppercase;
  top: 20%;
  right: 49%;
  transform: rotate(-45deg);
}

.bottom-nav-link-text-2 {
  display: none;
  position: absolute;
  color: $color-second;
  font-size: 14px;
  text-transform: uppercase;
  top: 20%;
  right: 49%;
  transform: rotate(-45deg);
}
