/*stylelint-disable*/

.main-header {
  @include respond-to(mobile) {
    height: 13.8vh;
    margin-top: 0;
    padding: 0;
    @include flex-box(row, center, center);
  }
  @include respond-to(tablet) {
    height: 16vh;
    margin-top: 0;
    padding-left: 3.65vw;
    padding-right: 4.05vw;
  }
}
.header {
  @include respond-to(mobile) {
    margin: 0;
    height: 5.6vh;
    width: 35%;
    z-index: 3;
  }
  @include respond-to(tablet) {
    margin-top: 4.4vh;
    width: 17.50%;
  }
}

.main-nav {
  @include respond-to(mobile) {
    z-index: 2;
    width: 100%;
    height: 0;
    position: absolute;
    top:0;
    background-color: $color-second;
    margin-top: 0 !important;
    @include flex-box(column, flex-start, center);
  }
}

.nav-list {
  @include respond-to(mobile) {
    width: 100%;
    height: 53%;
    margin-top: 21.1vh;
    overflow: hidden;
    @include flex-box(column, flex-start, center);
  }

}

.nav-element {
  @include respond-to(mobile) {
    height: 25px;
    line-height: 4.6vh;
    margin-bottom: 9.45vh;
    margin-right: 0;
    padding: 0;
    &:after {
      content: none;
    }
  }
  @include respond-to(tablet) {
    line-height: 4vh;
    height: 4.20vh;
    margin-right: 4.13vw;
    &:after {
      content: none;
    }
  }

}

.nav-link {
  @include respond-to(mobile) {
    font-size: 5vw;
  }
  @include respond-to(tablet) {
    font-size: 1.1vw;
    letter-spacing: 0.032vw;
  }
}

.nav-list-icons {
  @include respond-to(mobile) {
    width: 64%;
    margin-top: 15%;
    overflow: hidden;
    @include flex-box(row, space-between, center)
  }
}

.contact-button {
  @include respond-to(mobile) {
    width: 63vw;
    height: 7.7vh;
    font-size: 5vw;
    line-height: 4.8vw;
    margin-top: 1.4vh;
    margin-left: 0;
    border: 1vw solid $color-third;
    &:hover {
      background-color: transparent;
      color: $color-first;
    }
  }
  @include respond-to(tablet) {
    height: 4.6vh;
    width: 11.3vw;
    margin-top: 0;
    margin-left: 0.1vw;
    font-size: 1.15vw;
    padding-top: 0;
    padding-left: 0.35vw;
  }
}

.nav-icon {
  @include respond-to(mobile) {
    width: 8vw;
    height: 8vw;
    @include flex-box(row, center, center);
  }
}

.burger-button {
  @include respond-to(mobile) {
    width: 9vw;
    position: absolute;
    display: block;
    top: 4.3vh;
    right: 7.05vw;
    z-index: 3;
    padding: 0;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.burger-img {
  left: 0;
  position: absolute;
  transition: $transition;
  opacity: 1;
}

.x-img {
  width: 6.8vw;
  left: 1vw;
  position: absolute;
  transition: $transition;
  opacity: 0;
}

.x-img-opacity {
  opacity: 1;
}

.burger-img-opacity {
  opacity: 0;
}
// classes for animations

.slide-down {
  @include respond-to(mobile) {
    animation: slide-down 0.3s linear 1 forwards;
  }
}

.slide-up {
  @include respond-to(mobile) {
    animation: slide-up 0.3s linear 1 forwards;
  }
}

// animations for mobile nav

@keyframes slide-down {
  100% {
    height: 100%;
  }
}

@keyframes slide-up {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

