/*stylelint-disable*/

.main-header {
  @include respond-to(mobile) {
    height: 14%;
    margin-top: 0;
    padding: 0;
    @include flex-box(row, center, center);
    position: relative;
  }
}
.header {
  @include respond-to(mobile) {
    margin: 0;
    height: 30px;
    width: 35%;
    z-index: 3;
  }
}

.nav-list {
  @include respond-to(mobile) {
    overflow: hidden;
    display: none;
  }
}

.burger-button {
  @include respond-to(mobile) {
    width: 9%;
    position: absolute;
    display: block;
    top: 31%;
    right: 7.1%;
    z-index: 400000;
    padding: 0;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

