/*stylelint-disable*/

.main-content {
  @include respond-to(mobile) {
    margin-top: 3.6vh;
    width: 69vw;
  }
  @include respond-to(tablet) {
    margin-top: 8.1vh;
    width: 51vw;
  }
}

.content-main-text {
  @include respond-to(mobile) {
    color: $color-third;
    width: 100%;
    font-size: 5.8vw;
    line-height: 4.5vh;
    letter-spacing: 0.1px;
  }
  @include respond-to(tablet) {
    font-size: 2.7vw;
    letter-spacing: 0.04vw;
    line-height: 4.67vh;
  }
}

.line-break-desktop {
  @include respond-to(mobile) {
    display: none;
  }
}

.line-break {
  @include respond-to(mobile) {
    display: block;
  }
}

.circle-square-image {
  @include respond-to(mobile) {
    width: 20vw;
    height: 20vw;
    margin-top: 4.2vh;
    margin-bottom: 0;
  }
  @include respond-to(tablet) {
    width: 7.8vw;
    height: 7.8vw;
    margin-top: 13.7vh;
  }
}

.content-main-sub-text {
  @include respond-to(mobile) {
    font-size: 3.2vw;
    line-height: 3.7vh;
    margin-top: 4vh;
    letter-spacing: -0.04vw;
  }
  @include respond-to(tablet) {
    margin-left: -0.4vw;
    margin-top: 14.8vh;
    font-size: 1.4vw;
    letter-spacing: -0.004vw;
  }
}

.contact-list {
  @include respond-to(mobile) {
    margin-top: 5.6vh;
    @include flex-box(column, center, space-between);
  }
  @include respond-to(tablet) {
    width: 78.8%;
    margin-top: 3.4vh;
    margin-right: 0.3vw;
  }
}

.contact-element {
  @include respond-to(mobile) {
    margin-bottom: 5.35vh;
    margin-left: 1.7vw;
    @include flex-box(row, center, center);
  }
}

.contact-element-link {
  @include respond-to(mobile) {
    @include flex-box(row, center, center);
  }
}

.contact-element-icon {
  @include respond-to(mobile) {
    width: 5vw;
    height: 5vw;
  }
  @include respond-to(tablet) {
    width: 1.65vw;
    height:1.65vw;
    margin-top: 0;
  }
}

.contact-element-icon-google {
  @include respond-to(mobile) {
    width: 5vw;
    height: 5vw;
    margin-top: 0;
    margin-right: 0.4vw;
  }
  @include respond-to(tablet) {
    width: 2.4vw;
    height: 2.4vw;
    margin: 0;
  }
}

.contact-element-text {
  @include respond-to(mobile) {
    font-size: 3.8vw;
    margin-left: 4vw;
  }
  @include respond-to(tablet) {
    font-size: 1.15vw;
    margin-left: 1.1vw;
    letter-spacing: 0.013vw;
  }
}
