/*stylelint-disable*/

.main-content {
  @include respond-to(mobile) {
    margin-top: 46px;
    width: 69%;

  }
}

.content-main-text {
  @include respond-to(mobile) {
    color: $color-third;
    width: 100%;
    font-size: 22px;
    line-height: 30px;
  }
}

.line-break {
  @include respond-to(mobile) {
    display: block;
  }
}

.image-wrapper {
  @include respond-to(mobile) {
    width: 80px;
    height: 80px;
    margin-top: 27px;
    margin-bottom: 0;
  }
}

.content-main-sub-text {
  @include respond-to(mobile) {
    font-size: 14px;
    margin-top: 28px;
    line-height: 23px;
    letter-spacing: -1px;
  }
}

.contact-list {
  @include respond-to(mobile) {
    margin-top: 40px;
    @include flex-box(column, center, space-between);
  }
}

.contact-element {
  @include respond-to(mobile) {
    margin-bottom: 37px;
    margin-left: 6px;
    @include flex-box(row, center, center);
  }
}

.contact-element-link {
  @include respond-to(mobile) {
    font-size: 14px;
    @include flex-box(row, center, center);
  }
}

.contact-element-icon {
  @include respond-to(mobile) {
    width: 20px;
    height: 20px;
  }
}

.contact-element-text {
  @include respond-to(mobile) {
    margin-left: 11px;
  }
}
