/*stylelint-disable*/

.bottom-nav-link {
  @include respond-to(mobile) {
    width: 17%;
    top: 96.5%;
    border-radius: 3px;
  }
}

.bottom-nav-link-text {
  @include respond-to(mobile) {
    display: none;
  }
}

.bottom-nav-link-text-2 {
  @include respond-to(mobile) {
    display: block;
    z-index: 1;
    top: 5%;
    right: 71%;
    font-size: 15px;
  }
}
