/*stylelint-disable*/

.bottom-nav-link {
  @include respond-to(mobile) {
    width: 17vw;
    top: 96.6%;
    border-radius: 0.8vw;
  }
}

.bottom-nav-link-text {
  @include respond-to(mobile) {
    display: none;
  }
}

.bottom-nav-link-text-2 {
  @include respond-to(mobile) {
    display: block;
    z-index: 1;
    top: 5%;
    right: 71%;
    font-size: 4.5vw;
  }
}
